.wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: #FDD200;

    .header {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links {
            display: flex;
            color: #000;
            text-transform: uppercase;
            font-size: 12px;

            li {
                cursor: pointer;
                padding: 5px 10px;
                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
            }

            li:hover {
                color: #fff;
                box-shadow: inset 200px 0 0 0 #000;
            }
        }

        .extra {
            display: flex;
            flex-direction: column;

            .btn {
                font-weight: bold;
                text-transform: uppercase;
                padding: 8px 16px;
                font-size: 16px;
                cursor: pointer;
            }

            .btn-transparent {
                background: transparent;
                color: #000;
            }

            .btn-primary {
                background: #000;
                color: #fff;
                border-radius: 2px;
            }
        }
    }
}