.section {
    background-color: #f5f5f5;
    color: #000;
    height: 100%;
    padding: 45px 0;

    .wrapper {
        width: 1200px;
        max-width: 90%;
        margin: auto;
    }

    .table {
        border-collapse: collapse;
        width: 100%;
        text-align: left;

        &,
        th,
        td {
            border: 1px solid #bdbdbd;
            padding: 8px 16px;
        }

        thead {
            background-color: #000;
            color: #fff;
            text-transform: uppercase;

            th {}
        }

        tbody {
            tr:nth-child(even) {
                background-color: #eee;
            }
        }
    }
}