.section {
    background-color: #fdd200;
    color: #000;

    .app {
        width: 1200px;
        max-width: 90%;
        height: 100%;
        margin: auto;
        padding: 45px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;

        .description {
            width: 50%;

            ul {
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;

                    .icon-wrapper {
                        width: 50px;
                    }
                }
            }
        }

        .mobile {
        }

        .badges {
            display: flex;
            padding-top: 8px;

            div {
                position: relative;
                height: 75px;
                width: 200px;
            }

            div:first-child {
                margin-right: 16px;
            }
        }
    }
}

@media screen and (max-width: 1079px) {
    .section {
        .app {
            justify-content: center;

            .description {
                width: 100%;
            }

            .badges {
                justify-content: center;
            }
        }
    }
}
