.section {
    .contribute {
        width: 1200px;
        max-width: 90%;
        margin: auto;
        padding: 45px 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .copy {
            margin-bottom: 16px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;

            .icon {
                margin-right: 8px;
            }
        }
    }
}
