.section {
    background-color: #000000;

    .cover {
        width: 1200px;
        max-width: 90%;
        margin: auto;
        margin-top: 145px;

        .image {
            position: relative;
            width: 100%;
            height: 500px;
            margin: auto;
            border-radius: 2px;
            overflow: hidden;
        }
    }
}