.section {
    background-color: #000000;
    padding-top: 145px;

    .cover {
        width: 1200px;
        max-width: 90%;
        margin: auto;
    }

    @media screen and (max-width: 1079px) {
        & {
            padding-top: 95px;
        }
    }
}
