.container {
  

  .section1 {
    .cover {
      display: flex;

      .description {
        width: 50%;

        h1 {
          text-transform: uppercase;
        }
      }
    }
  }

  
}


.wrapper {
  width: 1200px;
  margin: auto;
}

.icon {
  margin-right: 8px;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary {
  background: #000;
  color: #fff;
  border-radius: 2px;
}